@import "nullstyle.scss";
$text-color: #f3f3f3;
$font: 'Poppins', sans-serif;
$main-size: 1rem;
$dark-blue-alpha: rgba(27, 27, 50, 0.8);
$green: #37af65;

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}
.form-container{
    max-width: 700px; /* Adjust the width as per your needs */
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Add some transparency to the form container */
    padding: 15px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a nicer look */
    overflow-y: auto; 
    background-color: rgba(255, 255, 255, 0.8); 
    background-color: $dark-blue-alpha;
    border-radius: 20px;

    
}

body{
    padding: 15px 0;
    color: $text-color;
    font-size: $main-size;
    font-family: $font;
    
}
p{
    font-weight: 200;
    font-size: 1.5rem;
    margin: 0 0 10px 0;
}
input,textarea,select{
    height: 2.375rem;
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 7px;
    
}


header{
    text-align: center;
    margin: 0 0 20px 0;
    h1{
        font-size: 2.7em;
        font-weight: 400;
        line-height: 1.2;
        margin: 10px 0;
    }
    p{
        font-size: 1.125rem;
        font-style: italic;
        font-weight: 200;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    }
    
}
form{
    
    label{
        margin-bottom: 0.5rem;
        font-weight: 200;
        font-size: 1.5rem;
        display: block;
        

    }

    input{
            display: block;        
            &[type="submit"]{
                background-color: $green;
                color: #e4e4e4;
                cursor: pointer;
                font-size: 1.3rem;
            }
            
            
        }
           
    select{
        display: block;
    }
    fieldset{
        margin: 0 0 25px 0;
    }
    


}
.inline{
    display: inline-block;
    width: unset;
    height: unset;
    margin-right: .325rem;
    min-height: 1.375rem;
    min-width: 1.5rem;
    vertical-align: middle;
    
}

textarea{
    min-height: 120px;
}
span{
    font-size: 1.125rem;
    color: #e4e4e4;
}
